body[scheme="client_dark"] {
  --accent: #71AAEB;
  --activity_indicator_tint: #ebedf0;
  --attach_picker_tab_active_background: #E1E3E6;
  --attach_picker_tab_active_icon: #19191A;
  --attach_picker_tab_active_text: #E1E3E6;
  --attach_picker_tab_inactive_background: #2c2d2e;
  --attach_picker_tab_inactive_icon: #E1E3E6;
  --attach_picker_tab_inactive_text: #76787A;
  --background_content: #19191A;
  --background_keyboard: #2c2d2e;
  --background_light: #232324;
  --background_page: #141414;
  --background_suggestions: #2c2d2e;
  --button_bot_shadow: #19191A;
  --button_commerce_background: #4BB34B;
  --button_commerce_foreground: #FFFFFF;
  --button_muted_background: #ebedf0;
  --button_muted_foreground: #71AAEB;
  --button_outline_border: #71AAEB;
  --button_outline_foreground: #71AAEB;
  --button_primary_background: #E1E3E6;
  --button_primary_foreground: #19191A;
  --button_secondary_background: #454647;
  --button_secondary_foreground: #E1E3E6;
  --button_tertiary_background: rgba(0, 0, 0, 0.00);
  --button_tertiary_foreground: #71AAEB;
  --cell_button_foreground: #71AAEB;
  --content_placeholder_icon: #aaaeb3;
  --content_placeholder_text: #aaaeb3;
  --content_tint_background: #19191A;
  --content_tint_foreground: #76787A;
  --counter_primary_background: #71AAEB;
  --counter_primary_text: #FFFFFF;
  --counter_secondary_background: #76787A;
  --counter_secondary_text: #19191A;
  --destructive: #FE5171;
  --field_background: #2c2d2e;
  --field_border: rgba(255, 255, 255, 0.12);
  --field_text_placeholder: #76787A;
  --header_background_before_blur: #141414;
  --header_background_before_blur_alternate: #141414;
  --header_search_field_background: #454647;
  --header_search_field_tint: #E1E3E6;
  --header_tab_active_background: #5d5f61;
  --header_tab_active_text: #E1E3E6;
  --header_tab_inactive_text: #76787A;
  --header_text: #E1E3E6;
  --header_tint: #E1E3E6;
  --header_tint_alternate: #E1E3E6;
  --icon_alpha_placeholder: #E1E3E6;
  --icon_outline_secondary: #909499;
  --icon_secondary: #76787A;
  --icon_tertiary: #454647;
  --im_bubble_incoming: #2c2d2e;
  --im_bubble_incoming_highlighted: #5d5f61;
  --im_bubble_outgoing: #454647;
  --im_bubble_outgoing_highlighted: #5d5f61;
  --im_forward_line_tint: #FFFFFF;
  --input_background: #454647;
  --input_border: #2c2d2e;
  --link_alternate: #71AAEB;
  --loader_background: #19191A;
  --loader_tint: #76787A;
  --loader_track_fill: #454647;
  --loader_track_value_fill: #71AAEB;
  --modal_card_background: #2c2d2e;
  --music_playback_icon: #FFFFFF;
  --overlay_status_background: #19191A;
  --overlay_status_foreground: #E1E3E6;
  --overlay_status_icon: #ebedf0;
  --placeholder_icon_background: rgba(255, 255, 255, .08);
  --placeholder_icon_foreground_primary: #909499;
  --placeholder_icon_foreground_secondary: #5d5f61;
  --poll_option_background: #FFFFFF;
  --search_bar_background: #19191A;
  --search_bar_field_background: #454647;
  --search_bar_field_tint: #aaaeb3;
  --search_bar_segmented_control_tint: #76787A;
  --segmented_control_bar_background: #19191A;
  --segmented_control_tint: #76787A;
  --selection_off_icon: #454647;
  --separator_action_sheet: rgba(255, 255, 255, 0.12);
  --separator_alternate: #19191A;
  --separator_common: #2c2d2e;
  --snippet_background: #2c2d2e;
  --snippet_border: #E1E3E6;
  --switch_ios_off_border: #2c2d2e;
  --tabbar_active_icon: #71AAEB;
  --tabbar_inactive_icon: #76787A;
  --text_action_counter: #aaaeb3;
  --text_link: #71AAEB;
  --text_link_hightlighted_background: #71AAEB;
  --text_muted: #C4C8CC;
  --text_name: #71AAEB;
  --text_placeholder: #aaaeb3;
  --text_primary: #E1E3E6;
  --text_secondary: #76787A;
  --text_subhead: #909499;
  --text_tertiary: #5d5f61;
  --header_background: #19191A;
  --header_alternate_background: #19191A;
  --panel_tab_active_background: #454647;
  --panel_tab_active_text: #E1E3E6;
  --panel_tab_inactive_text: #76787A;
  --android_active_color: #2c2d2e;
}