:root {
  --accent: #528bcc;
  --activity_indicator_tint: #454647;
  --attach_picker_tab_active_background: #5181B8;
  --attach_picker_tab_active_icon: #FFFFFF;
  --attach_picker_tab_active_text: #5181B8;
  --attach_picker_tab_inactive_background: #C4C8CC;
  --attach_picker_tab_inactive_icon: #FFFFFF;
  --attach_picker_tab_inactive_text: #909499;
  --background_content: #FFFFFF;
  --background_keyboard: #E1E3E6;
  --background_light: #F9F9F9;
  --background_page: #ebedf0;
  --background_suggestions: #FFFFFF;
  --button_bot_shadow: #C4C8CC;
  --button_commerce_background: #4BB34B;
  --button_commerce_foreground: #FFFFFF;
  --button_muted_background: #F2F3F5;
  --button_muted_foreground: #5181B8;
  --button_outline_border: #528bcc;
  --button_outline_foreground: #528bcc;
  --button_primary_background: #5181B8;
  --button_primary_foreground: #FFFFFF;
  --button_secondary_background: #ebedf0;
  --button_secondary_foreground: #45678F;
  --button_tertiary_background: rgba(0, 0, 0, 0.00);
  --button_tertiary_foreground: #5181B8;
  --cell_button_foreground: #528bcc;
  --content_placeholder_icon: #99a2ad;
  --content_placeholder_text: #818C99;
  --content_tint_background: #F5F5F5;
  --content_tint_foreground: #7F8285;
  --counter_primary_background: #528bcc;
  --counter_primary_text: #FFFFFF;
  --counter_secondary_background: #aaaeb3;
  --counter_secondary_text: #FFFFFF;
  --destructive: #E64646;
  --field_background: #F2F3F5;
  --field_border: rgba(0, 0, 0, 0.12);
  --field_text_placeholder: #909499;
  --header_background_before_blur: #346CAD;
  --header_background_before_blur_alternate: #FFFFFF;
  --header_search_field_background: #28436E;
  --header_search_field_tint: #92B2D6;
  --header_tab_active_background: rgba(173, 211, 255, 0.32);
  --header_tab_active_text: #FFFFFF;
  --header_tab_inactive_text: rgba(194, 222, 255, 0.80);
  --header_text: #FFFFFF;
  --header_tint: #FFFFFF;
  --header_tint_alternate: #528bcc;
  --icon_alpha_placeholder: #FFFFFF;
  --icon_outline_secondary: #99a2ad;
  --icon_secondary: #aaaeb3;
  --icon_tertiary: #C4C8CC;
  --im_bubble_incoming: #ebedf0;
  --im_bubble_incoming_highlighted: #d7d8d9;
  --im_bubble_outgoing: #CCE4FF;
  --im_bubble_outgoing_highlighted: #ADD3FF;
  --im_forward_line_tint: #45678F;
  --input_background: #F2F3F5;
  --input_border: #E1E3E6;
  --link_alternate: #5181B8;
  --loader_background: #ebedf0;
  --loader_tint: #76787A;
  --loader_track_fill: #E1E3E6;
  --loader_track_value_fill: #528bcc;
  --modal_card_background: #FFFFFF;
  --music_playback_icon: #000000;
  --overlay_status_background: #ebedf0;
  --overlay_status_foreground: #6D7885;
  --overlay_status_icon: #818C99;
  --placeholder_icon_background: rgba(0, 29, 61, .08);
  --placeholder_icon_foreground_primary: #99a2ad;
  --placeholder_icon_foreground_secondary: #AEB7C2;
  --poll_option_background: #45678F;
  --search_bar_background: #ebedf0;
  --search_bar_field_background: #FFFFFF;
  --search_bar_field_tint: #99a2ad;
  --search_bar_segmented_control_tint: #818C99;
  --segmented_control_bar_background: rgba(0, 0, 0, 0.00);
  --segmented_control_tint: #99a2ad;
  --selection_off_icon: #C4C8CC;
  --separator_action_sheet: rgba(0, 0, 0, 0.12);
  --separator_alternate: #E1E3E6;
  --separator_common: #d7d8d9;
  --snippet_background: #FFFFFF;
  --snippet_border: #5d5f61;
  --switch_ios_off_border: #E1E3E6;
  --tabbar_active_icon: #346CAD;
  --tabbar_inactive_icon: #99a2ad;
  --text_action_counter: #818C99;
  --text_link: #3C6A9E;
  --text_link_hightlighted_background: #000000;
  --text_muted: #19191A;
  --text_name: #45678F;
  --text_placeholder: #818C99;
  --text_primary: #000000;
  --text_secondary: #909499;
  --text_subhead: #76787A;
  --text_tertiary: #aaaeb3;
  --header_background: #5181B8;
  --header_alternate_background: #F9F9F9;
  --panel_tab_active_background: #ebedf0;
  --panel_tab_active_text: #5d5f61;
  --panel_tab_inactive_text: #76787A;
  --android_active_color: #f0f1f3;
}